# Ignore everything
/*

# Except for these files...
!.vimrc
!.gvimrc
!.zshrc
!.zsh_profile
!.bashrc
!.bash_profile
!.tmux.conf
!.gdbrc
!.gitignore
!.less
!.cheat-sheet

# Whitelist config

!.config

# Whitelist vim

!.vim/
.vim/*
!.vim/plugins.vim
