# Ignore everything
/*

# Except for these files...
!.vimrc
!.gvimrc
!.zshrc
!.zsh_profile
!.zshenv
!.tmux.conf
!.gdbrc
!.gitignore
!.cheat-sheet
!.githooks/

# Vim
!.vim/
.vim/*
!.vim/plugins.vim
!.vim/plugin-settings.vim

# Zsh
!.zsh/
.zsh/*
!.zsh/scripts/
.zsh/scripts/*
!.zsh/scripts/edit-selected-lines.zsh
!.zsh/scripts/preview-file.zsh
!.zsh/widgets.zsh

# Config
!.config/
.config/*
!.config/htop/
!.config/nvim/
!.config/zathura/

.config/nvim/undodir/*
.config/nvim/pack/*

# Weechat
!.weechat/
.weechat/*
!.weechat/*.conf

# Mutt
