# Ignore everything
/*

# Except for these files...
!.gvimrc
!.zshrc
!.zsh_profile
!.zshenv
!.tmux.conf
!.gdbrc
!.gitignore
!.cheat-sheet
!.githooks/
!.psqlrc

# Vim
!.vim/
.vim/*
!.vim/plugins.vim
!.vim/plugin-conf.vim
!.vim/vimrc
!.vim/after

# Zsh
!.zsh/
.zsh/*
!.zsh/scripts/
.zsh/scripts/*
!.zsh/scripts/edit-selected-lines.zsh
!.zsh/zsh-key-tweaks/
!.zsh/scripts/preview-file.zsh
!.zsh/widgets.zsh

# Config
!.config/
.config/*
!.config/htop/
!.config/nvim/
!.config/zathura/

.config/nvim/undodir/*
.config/nvim/pack/*

# Weechat
# !.weechat/
# .weechat/*
# !.weechat/*.conf

# Mutt
