[user]
  name = Klas Segeljakt
  email = klasseg@kth.se
  username = segeljakt
[credential]
  helper = osxkeychain
[core]
  editor = nvim
  pager = delta --light
  hooksPath = ~/.githooks
  whitespace = -trailing-space,-indent-with-non-tab,-tab-in-indent
  excludesfile = ~/.gitignore_global
[web]
  browser = google-chrome
[github]
  user = segeljakt
  token = 2015c559ae1917a39629e22cb86806a9838e1021
[diff]
  tool = nvim -d
  mnemonicPrefix = true
  renames = true
  wordRegex = .
  submodule = log
  recurseSubmodules = on-demand
[grep]
  break = true
  heading = true
  lineNumber = true
  # Consider most regexes to be ERE
  extendedRegexp = true
[difftool]
  prompt = false
[alias]
  diffa = diff -w  --word-diff-regex=[^[:space:]]
  diffw = diff -w -U0 --word-diff-regex=[^[:space:]]
  uncommit = reset --soft HEAD~1
  amend = commit --amend
  untrack = rm --cache --
[log]
  date = format:%b %d %H:%M
[format]
  pretty = format:%C(auto,yellow)%h %<(3,trunc)%aN %C(auto,blue)%>(12,trunc)%ad - %C(auto,green)%C(auto,reset)%s%C(auto,red)% gD
[color]
  ui = auto
[color "diff-highlight"]
  oldNormal = red bold
  oldHighlight = red bold 52
  newNormal = green bold
  newHighlight = green bold 22
[color "diff"]
  meta = yellow
  frag = magenta bold
  commit = yellow bold
  old = red bold
  new = green bold
  whitespace = red reverse
[mergetool]
  keepBackup = false
  keepTemporaries = false
  writeToTemp = true
  prompt = false
[push]
  default = upstream
[status]
  showUntrackedFiles = all
